<%= form_with model: blog_post, class: 'space-y-4' do |form| %>
  <% if form.object.errors.any? %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative">
      <% form.object.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </div>
  <% end %>

  <div class="flex flex-col">
    <%= form.label :title, class: 'font-semibold text-lg' %>
    <%= form.text_field :title, class: 'border rounded-md p-2' %>
  </div>

  <div class="flex flex-col">
    <%= form.label :body, class: 'font-semibold text-lg' %>
    <%= form.text_area :body, class: 'border rounded-md p-2' %>
  </div>

  <div>
    <%= form.label :published_at, class: 'font-semibold text-lg mr-2' %>
    <%= form.datetime_select :published_at, include_blank: true %>
  </div>

  <%= form.submit class: 'bg-blue-500 text-white rounded-md py-2 px-4 hover:bg-blue-600 mb-4' %>
<% end %>